<div class="container">
  <h1 class="text-center">Quiz</h1>
  <p class="text-right"><%= "Score : #{user_session[:quiz][:score]}" %></p>  
  <div class="card">
    <div class="front content">
      <div class="row text-right">
        <div class="col">
          <%= "Question : #{user_session[:quiz][:currentQuestion]+1}/#{@quiz.questions.count}" %>
        </div>
      </div>
      <% question = @quiz.questions[user_session[:quiz][:currentQuestion]] %>
      <div class="row text-center">
        <div class="col"><%= question.title %></div>
      </div>
      <div class="row text-center">
        <div class="col">
          <p class="response btn btn-primary" data-option-id="<%= question.options.first.id %>"><%= question.options.first.title %></p>
          <p class="response btn btn-primary" data-option-id="<%= question.options.last.id %>"><%= question.options.last.title %></p>
        </div>
      </div>
    </div>
    <div class="back content">
    Yo, what up?
    <p class="valid btn btn-primary" >Question suivante</p>
    </div>
  </div>
</div>
