<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="d-flex">
    <li>
      <%#= link_to user_path, :class => current_class?(user_path)  do %>
        <%= link_to user_path(current_user) do %>
            <%= image_tag ("icons/user.png") %>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do  %>
            <%= image_tag ("icons/home.png") %>
        <% end %>
      </li>
      <li>
        <%= link_to places_path do  %>
            <%= image_tag ("icons/placeholder.png") %>
        <% end %>
      </li>
      <!-- <li>
        <%#= link_to url_for(:back) do %>
          <i class="fas fa-arrow-left"></i>
        <%# end %>
      </li> -->
    </ul>
  </nav>
