<div id="mySidenav" class="sidenav hide-native-scrollbar ">
  <div class="blur"></div>
  <div class="row">
    <div class="col-10 offset-1 d-flex align-items-center mt-n4 justify-content-between">
      <p class="h4 text-white">My Profil</p>
      <a id="closeUserBtn" href="javascript:void(0)" class="closebtn mt-n3 text-teal" ">&times;</a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-10 offset-1 mt-n3 text-center">
      <!-- Use any element to open the sidenav -->
      <%= cl_image_tag @user.photo, class: "avatar p-1" %>
      <p class= "name text-white my-2"><%= @user.username.capitalize %></p>
    </div>
  </div>
  <div class="row">
    <%# METTRE LE FORMULAIRE EDIT PROFIL ICI %>
    <div class="col-10 offset-1 pt-2">
      <!-- MENU TAB -->
      <nav class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-item nav-link active d-flex flex-column justify-content-center align-items-center" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-sliders-h"></i><small> Setting</small></a>
        <a class="nav-item nav-link d-flex flex-column justify-content-center align-items-center" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-user-edit"></i><small>Profile</small></a>
      </nav>
      <!-- TAB CONTENT -->
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col-12 text-center">
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" class="">
          <%= simple_form_for @user do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :username, required: false, autofocus: true %>
              <%= f.input :email, required: false %>
              <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: true,
                input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
              <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Update", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">contact...</div>
      </div>
    </div>
  </div>
</div>
