<div class="container">
  <h1 class="text-center">Quiz</h1>
  <p class="text-right"><%= "Score : #{user_session["quiz"]["score"]}" %></p>  
  
  <%= simple_form_for [@answer] do |f| %>
  
    <div class="card">
      <div class="front content">        
        <%= "Question : #{user_session["quiz"]["currentQuestion"]+1}/#{@quiz.questions.count}" %>        
        <%= @question.title %>    
        

		    <div class="inputGroup btn btn-primary">
          
          <%= f.input :option_id,
                      :label => false,
                      :collection => @options,
                      :as => :radio_buttons,
                      :label_method => :last,
                      :value_method => :first,
                      :input_html => { :class => 'radio' },
                      :item_wrapper_tag => :label,
                      :item_wrapper_class => 'btn btn-primary',
                      :collection_wrapper_tag => :div,
                      :collection_wrapper_class => 'btn-group'
          %>
        </div>
      </div>
      
      <div class="back content">
        <img id="badresult" src="<%= asset_path('bad.jpg') %>" alt="" >
        <img id="goodresult" src="<%= asset_path('valid.jpg') %>" alt="" >
        <input type="hidden" id="goodOption" value=<%= @good_option %> />
        
        <!-- <p class="valid btn btn-primary" >Question suivante</p> -->
        <% label_button = (user_session["quiz"]["currentQuestion"]+1==5) ? "Terminé" : "Question suivante" %>
        <%= f.submit label_button, class: "btn btn-primary" %>

      </div>      
    </div>

  <% end %>  
</div>
