<section id="challenges" class="container-fluid d-flex flex-column bg-dark">
<%= render 'shared/topnav' %>
  <section id="challengesTitle" class="row px-4 my-auto">
    <div class=" name col-10 offset-1 text-center">
      <h3 class=" text-white  text-uppercase ">Challenges</span>
    </div>
  </section>
</section>
<section id="challengesContent" class="container-fluid d-flex page-content flex-column bg-white">
  <div class="row ">
    <div class="col-12">
      <p class="m-0">
        Find your favorite types of challenges here.
      </p>
    </div>
  </div>
  <div class="row mt-4 mb-5">

    <% @challenges.each do |challenge| %>

        <div class="col-12 mb-2">
          <%= link_to challenge_path(challenge) do %>
            <div class="category justify-content-between">
              <div class="category-text">
                <h2><%= challenge.title %></h2>
                <p><%= challenge.description %></p>
              </div>
              <div class="d-flex align-items-end">
                <%= image_tag challenge.photo %>
              </div>
            </div>
          <% end %>
        </div>

    <% end %>

  </div>
</section>


