<section id="challenges" class="container-fluid d-flex flex-column bg-dark">
<%= render 'shared/topnav' %>
  <section id="challengesTitle" class="row px-4 my-auto">
    <div class=" name col-10 offset-1 text-center">
      <p class=" text-white  text-uppercase ">Challenges</span>
    </div>
  </section>
</section>
<section id="challengesContent" class="container-fluid d-flex page-content flex-column bg-white">
  <% if @challenges.nil? %>

  <% else %>
    <div class="row ">
      <div class="col-12">
        <!-- <p class="m-0 lead text-center">
          Trouvez vos challenges favoris ici.
        </p -->
      </div>
    </div>
    <div class="row  mb-5">

      <% @challenges.each do |challenge| %>
        <div class="col-12 mb-2">
          <%= link_to challenge_path(challenge) do %>
            <div class="category justify-content-between">
              <div class="category-text">
                <h2><%= challenge.title %></h2>
                <p><%= challenge.description.first(170)%>...</p>
              </div>
              <div class="d-flex align-items-end">
                <%= image_tag challenge.photo %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</section>
