<section id="categoriesIndex" class="container-fluid d-flex flex-column bg-dark">
  <section id="categoriesTitle" class="row px-4 my-auto">
    <div class=" name col-10 offset-1 text-center">
      <span class=" text-white  text-uppercase ">Welcome</span>
    </div>
  </section>
</section>
<section id="categoriesContent" class="container-fluid h-100 d-flex page-content flex-column bg-white">
  <div class="row">
    <div class="col-12">
      <%= link_to challenges_path, class: "div-button" do %>
        <h1 class=" m-0 p-0"">Challenges</h1>
      <% end %>
    </div>
    <div class="col-12">
      <%= link_to new_answer_path, class: "div-button" do %>
        <h1 class=" m-0 p-0"">Quiz</h1>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex p-3 align-items-center justify-content-between ">
      <p class="h4">My Challenges</p>
    </div>
    <div class="col-12">
      <div class="card-columns">
        <% @categories.each do |category| %>
          <%= link_to category_path(category) do %>
            <div class="card-homepage">
              <%= cl_image_tag('Velo_npexj9', class: "card-img") %>
              <div class="title">
                <h3><%= category.name %></h3>
              </div>
              <div class="info">
              </div>
            </div>
          <% end %>
        <% end %><!-- Fin Category Each  !-->
      </div>
    </div>
  </div>
</section>
