<section id="categories" class="container-fluid">

  <div  class="row text-center">
    <div class="col-12 mb-4">
      <h2 class="text-primary display-4 text-uppercase"><strong>Challenges</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <button class="button-homepage"><%= link_to "Challenges", challenges_path %> <i class="fas fa-chevron-circle-right"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="button-homepage"><%= link_to "Quiz", new_answer_path %> <i class="fas fa-chevron-circle-right"></i></button>
    </div>
  </div>


  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-sm-4">
      <div class="wrapper">
        <div class="card-homepage"><%= cl_image_tag('Velo_npexj9', class: "card-img") %>
          <div class="info">
            <h3><%= category.name %></h3>
            <button><%= link_to "Details", category_path(category) %></button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</section>
