<section id="categoriesIndex" class="container-fluid d-flex flex-column bg-dark">
  <%= render 'shared/topnav' %>
  <section id="categoriesTitle" class="row px-4 my-auto">
    <%# SEARCH BAR %>
    <div class="search-bar col-12 offset-1 text-center">
      <form action="/" method="get" class="search">
        <input id="search" name="search" type="text" required />
        <button class="exit" type="reset">
      </form>
    </div>
    <%# END SEARCH BAR %>
  </section>
</section>

<section id="categoriesContent" class="container-fluid h-100 d-flex page-content flex-column bg-white">
  <div class="row">
    <% unless params[:search].present? %>
    <div class="col-12">
      <div class="pressbtn">
        <%= link_to challenges_path, class: "" do %>
        <h1 class=" m-0 p-0">Challenges</h1>
        <% end %>
      </div>
    </div>
    <div class="col-12">
      <div class="pressbtn">
        <%= link_to quizzes_path, class: "" do %>
        <h1 class=" m-0 p-0">Quiz</h1>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <% if @tips.nil? != true || @challenges.nil? != true %>

    <% if @tips.count > 0 %>
    <div class="search-result">
      <div class="col-12 d-flex align-items-center justify-content-between ">
        <p class="h4 mx-n3">Tips</p>
      </div>
      <% @tips.each do |tip| %>
      <div class="card w-100 my-4">
        <div class="card-body mb-2">
          <div class="voteForTip  d-flex justify-content-end">
            <%= button_to tip_votes_path(tip), method: :post, class: "like-btn" do %>
            <i class="fa<%= tip.votes.present? ? "s" : "r" %> fa-heart"></i>
            <% end %>
          </div>
          <h5 class="card-title"><%= tip.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><small>Posted by: <%= tip.user.username %></small></h6>
          <p class="card-text"><%= tip.description %></p>
          <div class="bottom-tip-card d-flex justify-content-space-around align-items-center">
            <span><%= pluralize(tip.votes.count, 'likes') %></span>
            <% if tip.user == current_user %>
            <%= button_to tip_path(tip), method: :delete, class: "like-btn" do%>
            <i class='fas fa-trash-alt'></i>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %> <!-- Fin @tips.count > 0 -->
    <% if @challenges.count > 0 %>
    <div class="col-12 d-flex align-items-center mt-3 justify-content-between ">
      <p class="h4 mx-n3">Challenges</p>
    </div>
    <div id="challengesContentSearch" class="row mt-2">
      <% @challenges.each do |challenge| %>
      <div class="col-12 mb-2">
        <%= link_to challenge_path(challenge) do %>
        <div class="category">
          <h3><%= challenge.title %></h3>
          <%= challenge.description %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %> <!-- Fin @challenges.count > 0 -->

  <% end %> <!-- Fin de @tips.nil? != true || @challenges.nil? != true -->

  <%# Categories  -------------------------- %>
  <% if @categories.count > 0 %>
  <div class="row">
    <div class="col-12 d-flex p-3 mt-n2 align-items-center justify-content-between ">
      <p class="h4 mt-3">Categories</p>
    </div>
    <div class="col-12">
      <div class="card-columns">
        <% @categories.each do |category| %>
          <%= link_to category_path(category) do %>
          <div class="card-homepage">
            <%= image_tag(category.photo, class: "card-img") %>
            <div class="title">
              <h3><%= category.name %></h3>
            </div>
            <div class="info">
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Si la recherche est vide, j'affiche un message -->
  <% else %>
    <div class="col-12 text-center">
      <p class="h3 ">Votre recherche est vide.</p>
    </div>
  <% end %>

</section>