<section id="categoriesIndex" class="container-fluid d-flex flex-column bg-dark">
<%= render 'shared/topnav' %>
  <section id="categoriesTitle" class="row px-4 my-auto">
    <div class=" name col-10 offset-1 text-center">
       <%= simple_form_for root_path, method: :get, class: "search" do %>
          <%= text_field_tag :search, nil, placeholder: "Search artists ...", class: "form-control" %>
          <%= submit_tag "",  class: "exit", style: "display: none;",type: "reset" %>
          <% end %>
      </div>
    </div>
  </section>
</section>
<section id="categoriesContent" class="container-fluid h-100 d-flex page-content flex-column bg-white">
  <div class="row">
    <div class="col-12">
      <%= link_to challenges_path, class: "div-button" do %>
        <h1 class=" m-0 p-0"">Challenges</h1>
      <% end %>
    </div>
    <div class="col-12">
      <%= link_to new_answer_path, class: "div-button" do %>
        <h1 class=" m-0 p-0"">Quiz</h1>
      <% end %>
    </div>
  </div>

  <% if @tips.nil? != true %>
    <% if @tips.count > 0 %>
      <div class="search-result">
        <% @tips.each do |tip| %>
          <div class="card w-100 my-4">
            <div class="card-body">
              <div class="voteForTip  d-flex justify-content-end">
                  <%= button_to tip_votes_path(tip), method: :post, class: "like-btn" do %>
                    <i class="fa<%= tip.votes.present? ? "s" : "r" %> fa-heart"></i>
                  <% end %>
              </div>
                <h5 class="card-title"><%= tip.title %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><small>Posted by: <%= tip.user.username %></small></h6>
                  <p class="card-text"><%= tip.description %></p>
              <div class="bottom-tip-card d-flex justify-content-space-around align-items-center">
                <span><%= pluralize(tip.votes.count, 'likes') %></span>
                  <% if tip.user == current_user %>
                    <%= button_to tip_path(tip), method: :delete, class: "like-btn" do%>
                      <i class='fas fa-trash-alt'></i>
                    <% end %>
                  <% end %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @challenges.nil? != true %>
  <% if @challenges.count > 0 %>
    <div class="search-result">
      <div class="row">
        <div class="col-12">
          <% @challenges.each do |challenge| %>
            <%= challenge.title %>
            <%= challenge.description.first(10) %>
            <%= link_to "show", challenge_path(challenge)  %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @categories.count > 0 %>
  <div class="row">
    <div class="col-12 d-flex p-3 align-items-center justify-content-between ">
      <p class="h4">My Challenges</p>
    </div>
    <div class="col-12">
      <div class="card-columns">
        <% @categories.each do |category| %>
          <%= link_to category_path(category) do %>
            <div class="card-homepage">
              <%= cl_image_tag('Velo_npexj9', class: "card-img") %>
              <div class="title">
                <h3><%= category.name %></h3>
              </div>
              <div class="info">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</section>
