<section id="category" class="container-fluid d-flex flex-column bg-dark">
<%= render 'shared/topnav' %>
  <section id="categoryTitle" class="row px-4 my-auto">
    <div class=" name col-10 offset-1 text-center">
      <p class=" text-white  text-uppercase "><%= @category.name %></span>
    </div>
  </section>
</section>
<section id="categoryContent" class="container-fluid d-flex page-content flex-column bg-white">
  <div class="scrolling-wrapper-flexbox">
    <div class="card-phone ml-cpc">
      <%= link_to challenges_path(cat: @category.id), id: "main-btn", class: "p-0 m-0" do %>
        <div class="card-phone-content p-0 m-0 d-flex flex-column justify-content-center align-items-center " >
        <%= image_tag "icons/chall.png"  %>
          <span class="h4">Challenges</span>
        </div>
      <% end %>
      </div>
       <div class="card-phone">
      <%= link_to quizzes_path(cat: @category.id), id: "main-btn" do %>
        <div class="card-phone-content d-flex flex-column justify-content-center align-items-center">
        <%= image_tag "icons/quiz.png"  %>
          <span class="h4">Quizzes</span>
        </div>
      <% end %>
      </div>
       <div class="card-phone">
      <%= link_to category_tips_path(@category), id: "main-btn" do %>
        <div class="card-phone-content mr-cpc d-flex flex-column justify-content-center align-items-center">
        <%= image_tag "icons/tips.png"  %>
          <span class="h4">Conseils</span>
        </div>
      <% end %>
    </div>
  </div>
</section>
