<section id="category" class="container-fluid d-flex flex-column bg-dark">
<%= render 'shared/topnav' %>
  <section id="categoryTitle" class="row px-4 my-auto">
    <div class=" name col-10 offset-1 text-center">
      <h3 class=" text-white  text-uppercase "><%= @category.name %></span>
    </div>
  </section>
</section>
<section id="categoryContent" class="container-fluid d-flex page-content flex-column bg-white">
  <div class="row">
    <div class="col-12">
      <%= link_to challenges_path, id: "main-btn" do %>
        <div class="card-category m-4" >
          Challenges
        </div>
      <% end %>
      <%= link_to new_answer_path, id: "main-btn" do %>
        <div class="card-category m-4">
          Quizz
        </div>
      <% end %>
      <%= link_to category_tips_path, id: "main-btn" do %>
        <div class="card-category m-4">
          Tips
        </div>
      <% end %>
    </div>
  </div>
</section>
