

<div class="container mt-4">
    <h2 class="text-center">Tips</h2>
  <div class="row">
    <%= link_to "Add your tip", new_tip_path %>
    <div class="col-12 ">
      <% @tips.each do |tip| %>
        <div class="card w-100 my-4">
          <div class="card-body ">
            <h5 class="card-title"><%= tip.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Posted by: <%= tip.user.username %></h6>
            <p class="card-text"><%= tip.description %></p>
            <% if tip.user == current_user %>
            <%= link_to 'delete',tip_path(tip), class:"card-link", method: :delete %>
            <% end %>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


