<section id="tips" class="container-fluid d-flex flex-column bg-dark">
<%= render 'shared/topnav' %>
  <section id="tipsTitle" class="row px-4 my-auto">
    <div class="name col-10 offset-1 text-center">
      <span class=" ">Create Your Tip</span>
    </div>
  </section>
</section>
<section id="tipsContent" class="fixed container-fluid h-100 d-flex page-content flex-column bg-white">
<div id="tipForm" class="container mt-4 padding-100 px-5">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 form">
      <%= simple_form_for @tip do |f| %>
        <%= f.input :title, placeholder: 'Title' %>
        <%= f.input :description, placeholder: 'Description' %>
        <%= f.button :submit, class: "btn btn-primary btn-block text-primary-dark mt-5" %>
      <% end %>
   
    </div>
  </div>
</div>
</section>






