<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GRN GAME</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%# Enlever request.fullpath=='/' quand il y aura l'id user dans Catagoeries #INDEX   %>
    <% unless request.fullpath=='/users/sign_in' || request.fullpath=='/users/sign_up' %>
      <%= render 'shared/navbarmobile' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
